<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Responsive Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./style/home.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <label class="logo">Sharing Threads</label>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </nav>
    <section class="new-section">
        <div class="card-products">
            <div class="container">
                <div class="images">
                    <img class="post-img" src="images/1.jpg" />
                </div>
                <p class="pick">Cloth Size</p>
                <div class="sizes">
                    <div class="size">32</div>
                </div>
                <div class="product">
                    <h1 class="p-name">Product name</h1>
                    <h2 class="price">Price : $150</h2>
                    <p class="desc">
                        The Nike Epic React Flyknit foam cushioning is responsive yet
                        light-weight, durable yet soft. This creates a sensation that not
                        only enhances the feeling of moving forward, but makes running
                        feel fun, too.
                    </p>
                    <div class="buttons">
                        <button class="add">Rent Now</button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <!-- Footer content goes here -->
        </footer>
    </section>
</body>

</html>
