<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/style/aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <nav>
        <label class="logo">Sharing Threads</label>
        <ul>
            <li><a class="active" href="products/getProducts">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
                        <img src="https://dhb8p39s5y2g5.cloudfront.net/rib/1709110441031_FLYS069-3_1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <div class="section" id="about">
                            <p>Welcome to our clothes renting platform! We believe that everyone should have access to trendy and fashionable clothes without breaking the bank. Our platform provides a wide range of clothing options for all occasions, from
                                casual wear to formal attire.</p>
                            <p>we strive to make fashion more sustainable by promoting the concept of renting clothes instead of buying them. By renting clothes, you not only save money but also contribute to reducing textile waste.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>