<!DOCTYPE html>
<html>

<head>
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="/style/profile.css">
</head>

<body>
    <nav>
        <label class="logo">Sharing Threads</label>
        <ul>
            <li><a class="active" href="products/getProducts">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <main>
        <div class="profile">
            <div class="pic">
                <img src="/images/sharing-threads-logo.jpeg" style="margin-bottom:10px;" alt="Profile Pic">
            </div>
            <div class="user-info">
                <h1>Het Patel</h1>
                <p>Email: Het@Patel.com</p>
                <p>Phone: +91 7567379752</p>
            </div>
        </div>
        <div class="clothes">
            <div class="container">
                <div class="images">
                    <img class="post-img" src="images/img1.webp" />
                </div>

                <p class="pick">Cloth Size</p>
                <div class="sizes">
                    <div class="size">32</div>
                </div>

                <div class="product">
                    <h1 class="p-name">Product name</h1>
                    <h2 class="price">Price : $150</h2>
                    <p class="desc">
                        The Nike Epic React Flyknit foam cushioning is responsive yet light-weight, durable yet soft. This creates a sensation that not only enhances the feeling of moving forward, but makes running feel fun, too.
                    </p>
                    <div class="buttons">
                        <button class="add">Rent Now</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="images">
                    <img class="post-img" src="images/img2.jpg" />
                </div>

                <p class="pick">Cloth Size</p>
                <div class="sizes">
                    <div class="size">32</div>
                </div>

                <div class="product">
                    <h1 class="p-name">Product name</h1>
                    <h2 class="price">Price : $150</h2>
                    <p class="desc">
                        The Nike Epic React Flyknit foam cushioning is responsive yet light-weight, durable yet soft. This creates a sensation that not only enhances the feeling of moving forward, but makes running feel fun, too.
                    </p>
                    <div class="buttons">
                        <button class="add">Rent Now</button>
                    </div>
                </div>
            </div>
            
           
           
            
        </div>
    </main>
    <footer>
        <div class="footer">
            <p>&copy; Sharing Threads</p>
        </div>
    </footer>
</body>

</html>